.elementor-863 .elementor-element.elementor-element-5c183e3:not(.elementor-motion-effects-element-type-background),
.elementor-863 .elementor-element.elementor-element-5c183e3>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #F2FAFF;
}

.elementor-863 .elementor-element.elementor-element-5c183e3 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-863 .elementor-element.elementor-element-5c183e3>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-bc-flex-widget .elementor-863 .elementor-element.elementor-element-d062350.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-863 .elementor-element.elementor-element-d062350.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-863 .elementor-element.elementor-element-d05bca1 {
    color: #353535;
    font-family: "Cairo", Sans-serif;
    font-weight: 400;
}

.elementor-863 .elementor-element.elementor-element-1fe4598 .elementor-button {
    font-family: "Cairo", Sans-serif;
    font-weight: 600;
    background-color: #2386C8;
    border-radius: 1px 1px 1px 1px;
    padding: -1px -1px -1px -1px;
}

.elementor-863 .elementor-element.elementor-element-1fe4598>.elementor-widget-container {
    margin: 0px 0px 0px 16px;
}

.elementor-863 .elementor-element.elementor-element-1fe4598 {
    width: auto;
    max-width: auto;
}

.elementor-863 .elementor-element.elementor-element-cce7f4c .elementor-button {
    font-family: "Cairo", Sans-serif;
    font-weight: 600;
    fill: #2386C8;
    color: #2386C8;
    background-color: #FFFFFF00;
    border-style: solid;
    border-color: #CE9999;
    border-radius: 1px 1px 1px 1px;
    padding: -1px -1px -1px -1px;
}

.elementor-863 .elementor-element.elementor-element-cce7f4c .elementor-button:hover,
.elementor-863 .elementor-element.elementor-element-cce7f4c .elementor-button:focus {
    border-color: #41232300;
}

.elementor-863 .elementor-element.elementor-element-cce7f4c {
    width: auto;
    max-width: auto;
}

.elementor-bc-flex-widget .elementor-863 .elementor-element.elementor-element-ffda351.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-863 .elementor-element.elementor-element-ffda351.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-863 .elementor-element.elementor-element-53212da.elementor-column>.elementor-widget-wrap {
    justify-content: center;
}

.elementor-863 .elementor-element.elementor-element-2f4f7e8 .cz_counter {
    margin-bottom: 30px;
}

.elementor-863 .elementor-element.elementor-element-2f4f7e8 .cz_counter_num_wrap {
    font-size: 40px;
    color: #0c0400;
    font-weight: 700;
}

.elementor-863 .elementor-element.elementor-element-2f4f7e8 .cz_counter_num_wrap i {
    color: #161616;
}

.elementor-863 .elementor-element.elementor-element-2f4f7e8 .cz_counter_before {
    color: #232323;
}

.elementor-863 .elementor-element.elementor-element-2f4f7e8 .cz_counter_after {
    font-size: 12px;
    color: rgba(0, 62, 91, 0.74);
    font-weight: 700;
}

.elementor-863 .elementor-element.elementor-element-2f4f7e8 {
    width: auto;
    max-width: auto;
    align-self: center;
}

.elementor-863 .elementor-element.elementor-element-755e95f.elementor-column>.elementor-widget-wrap {
    justify-content: center;
}

.elementor-863 .elementor-element.elementor-element-b2d50aa .cz_counter {
    margin-bottom: 30px;
}

.elementor-863 .elementor-element.elementor-element-b2d50aa .cz_counter_num_wrap {
    font-size: 40px;
    color: #0c0400;
    font-weight: 700;
}

.elementor-863 .elementor-element.elementor-element-b2d50aa .cz_counter_num_wrap i {
    color: #161616;
}

.elementor-863 .elementor-element.elementor-element-b2d50aa .cz_counter_before {
    color: #232323;
}

.elementor-863 .elementor-element.elementor-element-b2d50aa .cz_counter_after {
    font-size: 12px;
    color: rgba(0, 62, 91, 0.74);
    font-weight: 700;
}

.elementor-863 .elementor-element.elementor-element-b2d50aa {
    width: auto;
    max-width: auto;
}

.elementor-863 .elementor-element.elementor-element-a4f7789.elementor-column>.elementor-widget-wrap {
    justify-content: center;
}

.elementor-863 .elementor-element.elementor-element-1b0176c .cz_counter {
    margin-bottom: 30px;
}

.elementor-863 .elementor-element.elementor-element-1b0176c .cz_counter_num_wrap {
    font-size: 40px;
    color: #0c0400;
    font-weight: 700;
}

.elementor-863 .elementor-element.elementor-element-1b0176c .cz_counter_num_wrap i {
    color: #161616;
}

.elementor-863 .elementor-element.elementor-element-1b0176c .cz_counter_before {
    color: #232323;
}

.elementor-863 .elementor-element.elementor-element-1b0176c .cz_counter_after {
    font-size: 12px;
    color: rgba(0, 62, 91, 0.74);
    font-weight: 700;
}

.elementor-863 .elementor-element.elementor-element-1b0176c {
    width: auto;
    max-width: auto;
}

.elementor-863 .elementor-element.elementor-element-4b157a8.elementor-column>.elementor-widget-wrap {
    justify-content: center;
}

.elementor-863 .elementor-element.elementor-element-30bb917 .cz_counter {
    margin-bottom: 30px;
}

.elementor-863 .elementor-element.elementor-element-30bb917 .cz_counter_num_wrap {
    font-size: 40px;
    color: #0c0400;
    font-weight: 700;
}

.elementor-863 .elementor-element.elementor-element-30bb917 .cz_counter_num_wrap i {
    color: #161616;
}

.elementor-863 .elementor-element.elementor-element-30bb917 .cz_counter_before {
    color: #232323;
}

.elementor-863 .elementor-element.elementor-element-30bb917 .cz_counter_after {
    font-size: 12px;
    color: rgba(0, 62, 91, 0.74);
    font-weight: 700;
}

.elementor-863 .elementor-element.elementor-element-30bb917 {
    width: auto;
    max-width: auto;
}

.elementor-863 .elementor-element.elementor-element-9d02f36 {
    padding: 100px 10px 60px 10px;
}

.elementor-863 .elementor-element.elementor-element-5371b99 .cz_title .cz_title_content h1 {
    color: #7a006e;
}

.elementor-863 .elementor-element.elementor-element-5371b99 .cz_title .cz_title_content h2 {
    color: #2386c8;
}

.elementor-863 .elementor-element.elementor-element-5371b99 .cz_title .cz_shape_1 {
    font-size: 42px;
    color: rgba(22, 12, 109, 0.3);
    top: -26px;
}

.elementor-863 .elementor-element.elementor-element-5371b99 .cz_title .cz_shape_2 {
    font-size: 24px;
    color: #ff4745;
    top: -30px;
}

.elementor-863 .elementor-element.elementor-element-caf3074 .services {
    margin-bottom: 50px;
}

.elementor-863 .elementor-element.elementor-element-caf3074 .services h3,
.elementor-863 .elementor-element.elementor-element-caf3074 services h3 a {
    font-size: 28px;
    border-style: none;
}

.elementor-863 .elementor-element.elementor-element-caf3074>.elementor-widget-container {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.elementor-863 .elementor-element.elementor-element-4054a7d .services {
    margin-bottom: 50px;
}

.elementor-863 .elementor-element.elementor-element-4054a7d .services h3,
.elementor-863 .elementor-element.elementor-element-4054a7d services h3 a {
    font-size: 28px;
    border-style: none;
}

.elementor-863 .elementor-element.elementor-element-4054a7d>.elementor-widget-container {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.elementor-863 .elementor-element.elementor-element-2423eec .services {
    margin-bottom: 100px;
}

.elementor-863 .elementor-element.elementor-element-2423eec .services h3,
.elementor-863 .elementor-element.elementor-element-2423eec services h3 a {
    font-size: 28px;
    border-style: none;
}

.elementor-863 .elementor-element.elementor-element-2423eec>.elementor-widget-container {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.elementor-863 .elementor-element.elementor-element-752386a:not(.elementor-motion-effects-element-type-background),
.elementor-863 .elementor-element.elementor-element-752386a>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #F5FAFB;
    background-image: url("../../uploads/12/image_4-removebg-preview-1.png");
    background-repeat: no-repeat;
}

.elementor-863 .elementor-element.elementor-element-752386a {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-863 .elementor-element.elementor-element-752386a>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-863 .elementor-element.elementor-element-85cfd4e .elementor-heading-title {
    color: #000000;
    font-family: "Cairo", Sans-serif;
    font-weight: 600;
}

.elementor-863 .elementor-element.elementor-element-1dfd910 .elementor-button {
    font-family: "Cairo", Sans-serif;
    font-weight: 500;
    fill: #137FC0;
    color: #137FC0;
    background-color: #61CE7000;
}

.elementor-863 .elementor-element.elementor-element-373aa2d {
    text-align: center;
}

.elementor-863 .elementor-element.elementor-element-373aa2d .elementor-heading-title {
    color: #137FC0;
    font-family: "Cairo", Sans-serif;
    font-weight: 600;
}

.elementor-863 .elementor-element.elementor-element-3a83efa {
    margin-top: 0px;
    margin-bottom: 0px;
}

.elementor-bc-flex-widget .elementor-863 .elementor-element.elementor-element-f8630b6.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-863 .elementor-element.elementor-element-f8630b6.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-863 .elementor-element.elementor-element-12a7e71 .cz_title .cz_title_content h3 {
    color: #1b8855;
}

.elementor-863 .elementor-element.elementor-element-26fbb95 {
    color: #363535;
    font-family: "Cairo", Sans-serif;
    font-size: 15px;
    font-weight: 400;
}

.elementor-863 .elementor-element.elementor-element-c08ab2f {
    --e-icon-list-icon-size: 14px;
}

.elementor-863 .elementor-element.elementor-element-c08ab2f .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-863 .elementor-element.elementor-element-c08ab2f .elementor-icon-list-item>a {
    font-family: "Cairo", Sans-serif;
    font-size: 12px;
    font-weight: 400;
}

.elementor-863 .elementor-element.elementor-element-d802dcb .elementor-button {
    font-family: "Cairo", Sans-serif;
    font-size: 11px;
    font-weight: 700;
    fill: #137FC0;
    color: #137FC0;
    background-color: #61CE7000;
}

.elementor-863 .elementor-element.elementor-element-e82e30a>.elementor-element-populated {
    padding: 50px 50px 10px 10px;
}

.elementor-863 .elementor-element.elementor-element-a94a39d .cz_image>div {
    position: relative;
}

.elementor-863 .elementor-element.elementor-element-d22b8d7 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.elementor-863 .elementor-element.elementor-element-fb4014c>.elementor-element-populated {
    padding: 50px 50px 10px 10px;
}

.elementor-863 .elementor-element.elementor-element-679222d .cz_image>div {
    position: relative;
}

.elementor-bc-flex-widget .elementor-863 .elementor-element.elementor-element-013c3fa.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-863 .elementor-element.elementor-element-013c3fa.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-863 .elementor-element.elementor-element-4d69113 .cz_title .cz_title_content h3 {
    color: #ffc107;
}

.elementor-863 .elementor-element.elementor-element-4d69113 .cz_title .cz_title_icon_before {
    color: #ff4745;
}

.elementor-863 .elementor-element.elementor-element-c32714e {
    color: #363535;
    font-family: "Cairo", Sans-serif;
    font-size: 15px;
    font-weight: 400;
}

.elementor-863 .elementor-element.elementor-element-f42b93a {
    --e-icon-list-icon-size: 14px;
}

.elementor-863 .elementor-element.elementor-element-f42b93a .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-863 .elementor-element.elementor-element-f42b93a .elementor-icon-list-item>a {
    font-family: "Cairo", Sans-serif;
    font-size: 12px;
    font-weight: 400;
}

.elementor-863 .elementor-element.elementor-element-4222790 .elementor-button {
    font-family: "Cairo", Sans-serif;
    font-size: 11px;
    font-weight: 700;
    fill: #137FC0;
    color: #137FC0;
    background-color: #61CE7000;
}

.elementor-863 .elementor-element.elementor-element-34e89d8 {
    margin-top: -42px;
    margin-bottom: 0px;
}

.elementor-bc-flex-widget .elementor-863 .elementor-element.elementor-element-9162bcb.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-863 .elementor-element.elementor-element-9162bcb.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-863 .elementor-element.elementor-element-5fe91cb .cz_title .cz_title_content h3 {
    color: #1d80fd;
}

.elementor-863 .elementor-element.elementor-element-5fe91cb .cz_title .cz_title_icon_before {
    color: #ff4745;
}

.elementor-863 .elementor-element.elementor-element-4642db1 {
    color: #363535;
    font-family: "Cairo", Sans-serif;
    font-size: 15px;
    font-weight: 400;
}

.elementor-863 .elementor-element.elementor-element-85a58c2 .elementor-button {
    font-family: "Cairo", Sans-serif;
    font-size: 11px;
    font-weight: 700;
    fill: #137FC0;
    color: #137FC0;
    background-color: #61CE7000;
}

.elementor-863 .elementor-element.elementor-element-581b50a>.elementor-element-populated {
    padding: 50px 50px 10px 10px;
}

.elementor-863 .elementor-element.elementor-element-92d069f .cz_image>div {
    position: relative;
}

.elementor-863 .elementor-element.elementor-element-0c0b240 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.elementor-863 .elementor-element.elementor-element-9a23482>.elementor-element-populated {
    padding: 50px 50px 10px 10px;
}

.elementor-863 .elementor-element.elementor-element-c975ea5 .cz_image>div {
    position: relative;
}

.elementor-bc-flex-widget .elementor-863 .elementor-element.elementor-element-f5fcc4f.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-863 .elementor-element.elementor-element-f5fcc4f.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-863 .elementor-element.elementor-element-8d6bace .cz_title .cz_title_content h3 {
    color: #dc3545;
}

.elementor-863 .elementor-element.elementor-element-8d6bace .cz_title .cz_title_icon_before {
    color: #ff4745;
}

.elementor-863 .elementor-element.elementor-element-f5a83f1 {
    color: #363535;
    font-family: "Cairo", Sans-serif;
    font-size: 15px;
    font-weight: 400;
}

.elementor-863 .elementor-element.elementor-element-102b8e2 .elementor-button {
    font-family: "Cairo", Sans-serif;
    font-size: 11px;
    font-weight: 700;
    fill: #137FC0;
    color: #137FC0;
    background-color: #61CE7000;
}

.elementor-863 .elementor-element.elementor-element-e1a0a8c {
    margin-top: 0px;
    margin-bottom: 0px;
}

.elementor-bc-flex-widget .elementor-863 .elementor-element.elementor-element-78e4df3.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-863 .elementor-element.elementor-element-78e4df3.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-863 .elementor-element.elementor-element-984909b .cz_title .cz_title_content h3 {
    color: #747a7e;
}

.elementor-863 .elementor-element.elementor-element-984909b .cz_title .cz_title_icon_before {
    color: #ff4745;
}

.elementor-863 .elementor-element.elementor-element-58f6728 {
    color: #363535;
    font-family: "Cairo", Sans-serif;
    font-size: 15px;
    font-weight: 400;
}

.elementor-863 .elementor-element.elementor-element-601b1b4 .elementor-button {
    font-family: "Cairo", Sans-serif;
    font-size: 11px;
    font-weight: 700;
    fill: #137FC0;
    color: #137FC0;
    background-color: #61CE7000;
}

.elementor-863 .elementor-element.elementor-element-e02aa1b>.elementor-element-populated {
    padding: 50px 50px 10px 10px;
}

.elementor-863 .elementor-element.elementor-element-e7234ec .cz_image>div {
    position: relative;
}

.elementor-863 .elementor-element.elementor-element-0c90d7d {
    margin-top: 0px;
    margin-bottom: 0px;
}

.elementor-863 .elementor-element.elementor-element-a211de2>.elementor-element-populated {
    padding: 50px 50px 10px 10px;
}

.elementor-863 .elementor-element.elementor-element-0b9d5b4 .cz_image>div {
    position: relative;
}

.elementor-bc-flex-widget .elementor-863 .elementor-element.elementor-element-753a59b.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-863 .elementor-element.elementor-element-753a59b.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-863 .elementor-element.elementor-element-68a8142 .cz_title .cz_title_content h3 {
    color: #dc3545;
}

.elementor-863 .elementor-element.elementor-element-68a8142 .cz_title .cz_title_icon_before {
    color: #ff4745;
}

.elementor-863 .elementor-element.elementor-element-f6c2b1d {
    color: #363535;
    font-family: "Cairo", Sans-serif;
    font-size: 15px;
    font-weight: 400;
}

.elementor-863 .elementor-element.elementor-element-35d09b5 .elementor-button {
    font-family: "Cairo", Sans-serif;
    font-size: 11px;
    font-weight: 700;
    fill: #137FC0;
    color: #137FC0;
    background-color: #61CE7000;
}

.elementor-863 .elementor-element.elementor-element-7aa9015 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.elementor-bc-flex-widget .elementor-863 .elementor-element.elementor-element-ef0f795.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-863 .elementor-element.elementor-element-ef0f795.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-863 .elementor-element.elementor-element-25ce88c .cz_title .cz_title_content h3 {
    color: #38937c;
}

.elementor-863 .elementor-element.elementor-element-25ce88c .cz_title .cz_title_icon_before {
    color: #ff4745;
}

.elementor-863 .elementor-element.elementor-element-5d0a872 {
    color: #363535;
    font-family: "Cairo", Sans-serif;
    font-size: 15px;
    font-weight: 400;
}

.elementor-863 .elementor-element.elementor-element-eaf54d2 .elementor-button {
    font-family: "Cairo", Sans-serif;
    font-size: 11px;
    font-weight: 700;
    fill: #137FC0;
    color: #137FC0;
    background-color: #61CE7000;
}

.elementor-863 .elementor-element.elementor-element-e93b751>.elementor-element-populated {
    padding: 50px 50px 10px 10px;
}

.elementor-863 .elementor-element.elementor-element-aa0fc87 .cz_image>div {
    position: relative;
}

.elementor-863 .elementor-element.elementor-element-0ef8faa {
    margin-top: 0px;
    margin-bottom: 0px;
}

.elementor-863 .elementor-element.elementor-element-a1d5465>.elementor-element-populated {
    padding: 50px 50px 10px 10px;
}

.elementor-863 .elementor-element.elementor-element-51e7a7f .cz_image>div {
    position: relative;
}

.elementor-bc-flex-widget .elementor-863 .elementor-element.elementor-element-72aec90.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-863 .elementor-element.elementor-element-72aec90.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-863 .elementor-element.elementor-element-0c0e2a5 .cz_title .cz_title_content h3 {
    color: #ffc42a;
}

.elementor-863 .elementor-element.elementor-element-0c0e2a5 .cz_title .cz_title_icon_before {
    color: #ff4745;
}

.elementor-863 .elementor-element.elementor-element-1d845ec {
    color: #363535;
    font-family: "Cairo", Sans-serif;
    font-size: 15px;
    font-weight: 400;
}

.elementor-863 .elementor-element.elementor-element-6be236f .elementor-button {
    font-family: "Cairo", Sans-serif;
    font-size: 11px;
    font-weight: 700;
    fill: #137FC0;
    color: #137FC0;
    background-color: #61CE7000;
}

.elementor-863 .elementor-element.elementor-element-7cbdaa2:not(.elementor-motion-effects-element-type-background),
.elementor-863 .elementor-element.elementor-element-7cbdaa2>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #2487C2;
}

.elementor-863 .elementor-element.elementor-element-7cbdaa2 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-863 .elementor-element.elementor-element-7cbdaa2>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-bc-flex-widget .elementor-863 .elementor-element.elementor-element-81c2c2b.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-863 .elementor-element.elementor-element-81c2c2b.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-863 .elementor-element.elementor-element-2d4cd78 {
    text-align: center;
}

.elementor-863 .elementor-element.elementor-element-2d4cd78 .elementor-heading-title {
    color: #FFFFFF;
    font-family: "Cairo", Sans-serif;
    font-weight: 600;
}

.elementor-863 .elementor-element.elementor-element-3c9baae .elementor-button {
    font-family: "Cairo", Sans-serif;
    font-weight: 500;
    fill: #2487C2;
    color: #2487C2;
    background-color: #FFFFFF;
    border-radius: 0px 0px 0px 0px;
}

.elementor-863 .elementor-element.elementor-element-a50fbd0:not(.elementor-motion-effects-element-type-background),
.elementor-863 .elementor-element.elementor-element-a50fbd0>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("../../uploads/12/Sans-titre-1.jpg");
    background-position: -194px 0px;
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-863 .elementor-element.elementor-element-a50fbd0 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 100px 10px 60px 10px;
}

.elementor-863 .elementor-element.elementor-element-a50fbd0>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-863 .elementor-element.elementor-element-224c219 .cz_title .cz_title_content h1 {
    color: #7a006e;
}

.elementor-863 .elementor-element.elementor-element-224c219 .cz_title .cz_title_content h2 {
    color: #ffffff;
}

.elementor-863 .elementor-element.elementor-element-224c219 .cz_title .cz_title_content h3 {
    color: #ffffff;
}

.elementor-863 .elementor-element.elementor-element-224c219 .cz_title .cz_shape_1 {
    font-size: 42px;
    color: rgba(22, 12, 109, 0.3);
    top: -26px;
}

.elementor-863 .elementor-element.elementor-element-224c219 .cz_title .cz_shape_2 {
    font-size: 24px;
    color: #ff4745;
    top: -30px;
}

.elementor-863 .elementor-element.elementor-element-2a6ef75 .elementor-button {
    background-color: #137FC0;
    border-radius: 0px 0px 0px 0px;
}

.elementor-863 .elementor-element.elementor-element-24de61c .cz_title .cz_title_content h1 {
    color: #7a006e;
}

.elementor-863 .elementor-element.elementor-element-24de61c .cz_title .cz_title_content h2 {
    color: #8e8e8e;
}

.elementor-863 .elementor-element.elementor-element-24de61c .cz_title .cz_title_content h3 {
    color: #137fc0;
}

.elementor-863 .elementor-element.elementor-element-24de61c .cz_title .cz_shape_1 {
    font-size: 42px;
    color: rgba(22, 12, 109, 0.3);
    top: -26px;
}

.elementor-863 .elementor-element.elementor-element-24de61c .cz_title .cz_shape_2 {
    font-size: 24px;
    color: #ff4745;
    top: -30px;
}

.elementor-863 .elementor-element.elementor-element-24de61c>.elementor-widget-container {
    margin: 69px 0px 0px 0px;
}

.elementor-863 .elementor-element.elementor-element-b59ec06 {
    z-index: 1;
}

.elementor-863 .elementor-element.elementor-element-ff8987e>.elementor-element-populated {
    background-color: #ffffff;
    padding: 100px 150px;
    box-shadow: 0px 25px 40px rgba(0, 0, 0, 0.12);
}

.elementor-863 .elementor-element.elementor-element-ff103db .cz_title .cz_title_content h1 {
    color: #7a006e;
}

.elementor-863 .elementor-element.elementor-element-ff103db .cz_title .cz_title_content h2 {
    color: #8e8e8e;
}

.elementor-863 .elementor-element.elementor-element-ff103db .cz_title .cz_title_content h3 {
    color: #137fc0;
}

.elementor-863 .elementor-element.elementor-element-ff103db .cz_title .cz_shape_1 {
    font-size: 42px;
    color: rgba(22, 12, 109, 0.3);
    top: -26px;
}

.elementor-863 .elementor-element.elementor-element-ff103db .cz_title .cz_shape_2 {
    font-size: 24px;
    color: #ff4745;
    top: -30px;
}

.elementor-863 .elementor-element.elementor-element-1b2b146 .cz_grid {
    margin-left: calc(-40px / 2);
    margin-right: calc(-40px / 2);
    margin-bottom: -40px;
    width: calc(100% + 40px);
}

.elementor-863 .elementor-element.elementor-element-1b2b146 .cz_grid .cz_grid_item>div {
    margin: 0 calc(40px / 2) 40px;
}

.elementor-863 .elementor-element.elementor-element-1b2b146 .slick-slide {
    margin: 0 calc(40px / 2);
}

.elementor-863 .elementor-element.elementor-element-1b2b146 .cz_grid .cz_grid_link {
    padding: 10px 30px;
    border-radius: 5px;
    opacity: 0.5;
}

.elementor-863 .elementor-element.elementor-element-1b2b146 .cz_grid .cz_grid_item:hover .cz_grid_link {
    opacity: 1;
}

.elementor-863 .elementor-element.elementor-element-d7e014a {
    --spacer-size: 50px;
}

.elementor-863 .elementor-element.elementor-element-cb6e573 .cz_title .cz_title_content h1 {
    color: #7a006e;
}

.elementor-863 .elementor-element.elementor-element-cb6e573 .cz_title .cz_title_content h2 {
    color: #8e8e8e;
}

.elementor-863 .elementor-element.elementor-element-cb6e573 .cz_title .cz_title_content h3 {
    color: #137fc0;
}

.elementor-863 .elementor-element.elementor-element-cb6e573 .cz_title .cz_shape_1 {
    font-size: 42px;
    color: rgba(22, 12, 109, 0.3);
    top: -26px;
}

.elementor-863 .elementor-element.elementor-element-cb6e573 .cz_title .cz_shape_2 {
    font-size: 24px;
    color: #ff4745;
    top: -30px;
}

.elementor-863 .elementor-element.elementor-element-71d25d5 .elementor-tab-content {
    border-bottom-color: #A29F9F;
    font-family: "Cairo", Sans-serif;
    font-size: 15px;
    font-weight: 400;
}

.elementor-863 .elementor-element.elementor-element-71d25d5 .elementor-tab-title {
    border-color: #A29F9F;
}

.elementor-863 .elementor-element.elementor-element-71d25d5 .elementor-toggle-title,
.elementor-863 .elementor-element.elementor-element-71d25d5 .elementor-toggle-icon {
    color: #4D4D4D;
}

.elementor-863 .elementor-element.elementor-element-71d25d5 .elementor-toggle-icon svg {
    fill: #4D4D4D;
}

.elementor-863 .elementor-element.elementor-element-71d25d5 .elementor-tab-title.elementor-active a,
.elementor-863 .elementor-element.elementor-element-71d25d5 .elementor-tab-title.elementor-active .elementor-toggle-icon {
    color: #515151;
}

.elementor-863 .elementor-element.elementor-element-71d25d5 .elementor-toggle-title {
    font-family: "Cairo", Sans-serif;
    font-weight: 600;
}

.elementor-863 .elementor-element.elementor-element-71d25d5>.elementor-widget-container {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
}

.elementor-863 .elementor-element.elementor-element-e74e230 .cz_gap {
    height: 30px;
}

.elementor-bc-flex-widget .elementor-863 .elementor-element.elementor-element-e08e240.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-863 .elementor-element.elementor-element-e08e240.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-863 .elementor-element.elementor-element-96c4a33 .cz_title .cz_title_content h1 {
    color: #7a006e;
}

.elementor-863 .elementor-element.elementor-element-96c4a33 .cz_title .cz_title_content h2 {
    color: #8e8e8e;
}

.elementor-863 .elementor-element.elementor-element-96c4a33 .cz_title .cz_title_content h3 {
    color: #137fc0;
    padding-top: 30px;
    padding-right: 0px;
    margin-bottom: 13px;
}

.elementor-863 .elementor-element.elementor-element-96c4a33 .cz_title .cz_shape_1 {
    font-size: 55px;
    color: rgba(22, 12, 109, 0.3);
    width: 247px;
    top: -26px;
}

.elementor-863 .elementor-element.elementor-element-96c4a33 .cz_title .cz_shape_2 {
    font-size: 24px;
    color: #ff4745;
    top: -30px;
}

.elementor-863 .elementor-element.elementor-element-96c4a33>.elementor-widget-container {
    margin: 51px 0px 0px 0px;
}

@media(min-width:1025px) {

    .elementor-863 .elementor-element.elementor-element-a50fbd0:not(.elementor-motion-effects-element-type-background),
    .elementor-863 .elementor-element.elementor-element-a50fbd0>.elementor-motion-effects-container>.elementor-motion-effects-layer {
        background-attachment: scroll;
    }
}

@media(max-width:1024px) {
    .elementor-863 .elementor-element.elementor-element-2f4f7e8 .cz_counter {
        padding-left: 0px;
    }

    .elementor-863 .elementor-element.elementor-element-b2d50aa .cz_counter {
        padding-left: 0px;
    }

    .elementor-863 .elementor-element.elementor-element-1b0176c .cz_counter {
        padding-left: 0px;
    }

    .elementor-863 .elementor-element.elementor-element-30bb917 .cz_counter {
        padding-left: 0px;
    }

    .elementor-863 .elementor-element.elementor-element-a50fbd0:not(.elementor-motion-effects-element-type-background),
    .elementor-863 .elementor-element.elementor-element-a50fbd0>.elementor-motion-effects-container>.elementor-motion-effects-layer {
        background-position: 0px 0px;
    }

    .elementor-863 .elementor-element.elementor-element-ff8987e>.elementor-element-populated {
        padding: 60px 90px;
    }
}

@media(max-width:767px) {
    .elementor-863 .elementor-element.elementor-element-3a83efa {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .elementor-863 .elementor-element.elementor-element-e82e30a>.elementor-element-populated {
        padding: 10px 10px 10px 10px;
    }

    .elementor-863 .elementor-element.elementor-element-d22b8d7 {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .elementor-863 .elementor-element.elementor-element-fb4014c>.elementor-element-populated {
        padding: 10px 10px 10px 10px;
    }

    .elementor-863 .elementor-element.elementor-element-34e89d8 {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .elementor-863 .elementor-element.elementor-element-581b50a>.elementor-element-populated {
        padding: 10px 10px 10px 10px;
    }

    .elementor-863 .elementor-element.elementor-element-0c0b240 {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .elementor-863 .elementor-element.elementor-element-9a23482>.elementor-element-populated {
        padding: 10px 10px 10px 10px;
    }

    .elementor-863 .elementor-element.elementor-element-e1a0a8c {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .elementor-863 .elementor-element.elementor-element-e02aa1b>.elementor-element-populated {
        padding: 10px 10px 10px 10px;
    }

    .elementor-863 .elementor-element.elementor-element-0c90d7d {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .elementor-863 .elementor-element.elementor-element-a211de2>.elementor-element-populated {
        padding: 10px 10px 10px 10px;
    }

    .elementor-863 .elementor-element.elementor-element-7aa9015 {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .elementor-863 .elementor-element.elementor-element-e93b751>.elementor-element-populated {
        padding: 10px 10px 10px 10px;
    }

    .elementor-863 .elementor-element.elementor-element-0ef8faa {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .elementor-863 .elementor-element.elementor-element-a1d5465>.elementor-element-populated {
        padding: 10px 10px 10px 10px;
    }

    .elementor-863 .elementor-element.elementor-element-a50fbd0:not(.elementor-motion-effects-element-type-background),
    .elementor-863 .elementor-element.elementor-element-a50fbd0>.elementor-motion-effects-container>.elementor-motion-effects-layer {
        background-position: 0px 0px;
    }

    .elementor-863 .elementor-element.elementor-element-b59ec06 {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .elementor-863 .elementor-element.elementor-element-ff8987e>.elementor-element-populated {
        padding: 40px;
    }
}